body {
  font-size: 120%
}

.title {

}

.main {
  font-family: 'Nanum Pen Script', cursive;
  background-color: #e5e6e8;
  /* 배경색  */
}

.content {

  font-size: 120%;
  border: 0.5px solid #e5e6e8;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  background-color: white;
  max-width: 84rem;
  text-align: center;
  margin: 0px auto;
  /* margin: 0rem 5rem 0rem 5rem; */
}

.cont_first {
  /* border: 1px solid red; */

  max-width: 60rem;
  text-align: center;
  margin: auto;
}

@media (max-width:500px) {
  #content {
    text-align: center;
    margin: 5px 10px 5px 10px;
    width: 95%;
  }

  .cont_first {
    max-width:   21rem;
 text-align: center;
 margin: auto;
  }
}
